$yellow: #FFDE32;
$red: #FF4736;
$green: #2AD846;
$black: #333333;
$grey-text: #999999;
$offline: #D7D7D7;
$grey-light: #F8F8F8;
$white: #FFFFFF;
$blue-dark: #080A33;
$blue-light: #0A0C3A;

$gradient: linear-gradient(to right, #faff00, #ff8c00);
