@use "../../../utils/style/vars" as v;


.container{
    width: 100%;
    height: fit-content;
    padding-top: 130px;
    padding-bottom: 60px;

    .content{
        width: 1200px;
        margin: 0 auto;

        font-family: "Montserrat";
        
    }
}

.title_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    .title{
        margin-bottom: 0;
        h3{
            font-size: 12px;
            font-weight: 500;
            color: v.$grey-text;
            text-transform: uppercase;
        }
        h1{
            margin-bottom: 0;
            font-size: 40px;
            font-weight: 800;
        }
        .line{
            width: 40px;
            height: 3px;
            background-color: v.$yellow;
        }
    }

    .raiting{
        display: flex;
        margin-top: auto;

        .like{
            display: block;
            text-align: center;
            margin-top: auto;
            .img_light{
                filter: invert(0);
            }
            .img_dark{
                filter: invert(1);
            }

            .stars{
                display: flex;
                .side{
                    margin-bottom: 0;
                    margin-top: 10px;
                }
                .middle{
                    margin-top: 0;
                    margin-bottom: 10px;
                }
            }
        }

        h5{
            font-size: 26px;
            font-weight: 500;
            margin-top: auto;
            margin-bottom: 0;
            margin-left: 10px;
        }
        h6{
            font-size: 16px;
            font-weight: 400;
            margin-top: auto;
            margin-bottom: 2px;
            margin-left: 10px;
        }
        p{
            margin-bottom: 2px;
            margin-top: auto;
            color: v.$grey-text;
        }
    }
}

.reviews{
    margin: 70px auto;
    display: flex;
    justify-content: space-around;

    .review{
        display: flex;
        width: 500px;

        .avatar{
            width: 130px;
            height: 130px;
            border-radius: 130px;
            border-top: 10px solid v.$grey-light;
            border-left: 10px solid v.$grey-light;
            border-bottom: 10px solid v.$grey-light;
            border-right: 10px solid rgba(0, 0, 0, 0);
        }

        .info{
            margin-left: 30px;

            h3{
                font-size: 16px;
                font-weight: 600;
                margin: 0;
                margin-top: 5px;
            }
            
            h4{
                font-size: 14px;
                font-weight: 400;
                margin: 0;
            }

            .raiting{
                display: flex;
                margin-top: 5px;
                margin-bottom: 5px;

                p{
                    margin: 0;
                    margin-left: 10px;
                }
            }

            .verdict_positive{
                display: flex;

                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: v.$grey-text;

                    margin-left: 5px;
                }
            }
            .verdict_negative{
                display: flex;

                img{
                    filter: sepia();
                }

                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: v.$grey-text;

                    margin-left: 5px;
                }
            }
        }
    }
}

.btn{
    width: 90px;
    height: 26px;
    border-bottom: 2px solid v.$yellow;

    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 50px auto;

    transition: all ease 0.2s;
    cursor: pointer;
}

.btn:hover{
    border-bottom: 4px solid v.$yellow;
}